<!DOCTYPE html>
<html lang="en">
  <%- include('components/header') %>

  <body>
    <div id="app">
      <%- include('components/sidebar', {sideMenu: sideMenu}) %>
      <div id="main" class="layout-navbar">
        <%- include('components/navbar') %>
        <div id="main-content">



          
          <% if (content !== 'dashboard') { %> 
            <%-include('components/page-nav', {title: title, subtitle: subtitle,
            pages: pages}) %>
          <%- include(path_include) %>
          
          <%} else if ( content === 'dashboard') { %>
            <div class="page-heading">
              <h3>Welcome, Dior Hotel!</h3>
            </div>
            <%- include('contents/users/dashboard-users') %>
          <% }  %>
              
           
           
            



          <%-include('components/footer') %>
        </div>
      </div>
    </div>
    <%- include('components/js') %>
  </body>
</html>
