<div class="page-content">
  <section class="row">
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-12">
          <% data.forEach(theme => { %>

          <div class="card">
            <div
              class="card-header d-flex justify-content-between align-items-center">
              <h4><%= theme.name %></h4>

              <button
                class="btn btn-light icon"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample<%= theme.id %>"
                aria-expanded="false"
                aria-controls="collapseExample<%= theme.id %>">
                <i class="bi bi-chevron-down"></i>
              </button>
            </div>
            <div class="card-body">
              <div>
                <div class="progress progress-primary mb-4">
                  <div
                    class="progress-bar progress-label"
                    role="progressbar"
                    style="width: 0%"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="collapse" id="collapseExample<%= theme.id %>">
                <% theme.criteria.forEach(criteria => { %>
                <div class="row">
                  <div class="col-7">
                    <a href="/applier/assessment/theme/<%= theme.name %>">
                      <%= criteria.desc %>
                    </a>
                  </div>
                  <div class="col-1">
                    <div
                      class="<%= criteria.level === 'specific' ? 'bg-info' :''%>
                      <%= criteria.level === 'mandatory' ? 'bg-danger' :''%>
                      <%= criteria.level === 'optional' ? 'bg-secondary' :''%>"
                      style="
                        height: 1rem;
                        width: 1rem;
                        border-radius: 0.2rem;
                      "></div>
                  </div>
                  <div class="col-1">
                    <%= criteria.indicators.length %>
                  </div>
                  <div class="col-3">
                    <div class="progress progress-sm progress-primary">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <hr />
                <% }) %>
              </div>
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body d-flex justify-content-center align-items-center">
          <button
            class="btn btn-primary" onclick="(location.href='/applier/assessment/theme/Adaptive Management (AM)')">
            Open Assessment
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4>Request Assessment</h4>
        </div>
        <div class="card-content pb-4">
          <div class="px-4">
            <button
              class="btn btn-block btn-xl btn-outline-primary font-bold mt-3 disabled">
              Send Request
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
